# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Build artifacts
*.zip
*.crx
*.pem
web-ext-artifacts/

# Node (если вдруг добавишь сборку)
node_modules/
package-lock.json

# Metadata
_metadata